* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.pokeImg-container {

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2d42;

}

.input-container {

    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d90429;

}

img{

width: 50%;

}

input {

    border: none;
    height: 20%;
    width: 65%;
    text-align: center;
    font-size: large;
    background-color: #edf2f4;

}

input:focus {

    outline: none;

}

input::placeholder {

    color: #edf2f4;

}

input:focus::placeholder {

    color: transparent;

}

input:hover::placeholder {}

button {

    transition: 0.5s;
    height: 20%;
    width: 20%;
    border: none;
    background-color:#edf2f4;
    color: black;
    border-radius: 5px;
    font-size: large;


}

button:hover {

    transform: scale(1.1, 1.1);
    transition: 0.5s;
    cursor: pointer;
    background-color: #8d99ae;

}