* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.pokeImg-container {

    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b2d42;

}

.response {

    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1%;

}

.input-container {

    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d90429;

}

.scoreboard-container{

position: absolute;
width: 5%;
right: 0%;
text-align: center;
background-color: wheat;

}

.points{

display: inline;

}

img {

    width: 30%;
    height: 80%;

}

input {

    border: none;
    height: 20%;
    width: 65%;
    text-align: center;
    font-size: large;
    background-color: #edf2f4;
    margin: 1%

}

input:focus {

    outline: none;

}

input::placeholder {

    color: #a5b1b6;

}

input:focus::placeholder {

    color: transparent;

}

button {

    transition: 0.5s;
    height: 20%;
    width: 20%;
    border: none;
    background-color: #edf2f4;
    color: black;
    border-radius: 5px;
    font-size: large;
    margin: 1%


}

button:hover {

    transform: scale(1.1, 1.1);
    transition: 0.5s;
    cursor: pointer;
    background-color: #8d99ae;

}

#response, #correctAnswer{

color: #edf2f4;

}
